<div class="public-profile__layout">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <section class="public-profile__layout__main-info">
        <div class="public-profile__layout__main-info__details">
          <img
            class="public-profile__layout__main-info__details__img"
            [src]="userProfileImage() || '/images/user-default-img.webp'"
            alt="User Profile Image" />
          <div class="public-profile__layout__main-info__details__data">
            <h4 class="public-profile__layout__main-info__details__data__user-type">{{ formatRole(user().role) }}</h4>
            <h2 class="public-profile__layout__main-info__details__data__name">
              {{ user().firstName }} {{ user().lastName }}
            </h2>
          </div>
        </div>

        <div class="public-profile__layout__main-info__actions">
          <a mat-stroked-button [href]="'mailto:' + user().email" target="_blank"> <mat-icon>mail</mat-icon> E-Mail</a>
          @if (user().linkedInProfileUrl) {
            <a mat-stroked-button [href]="user().linkedInProfileUrl" target="_blank">
              <mat-icon>link</mat-icon> LinkedIn</a
            >
          }
        </div>
      </section>

      @if (user().bio) {
        <section class="public-profile__layout__about">
          <h4>About me</h4>
          <p class="unset" [innerHTML]="user().bio"></p>
        </section>
      }
      <section class="public-profile__layout__courses">
        <h4>Courses</h4>
        <mat-tab-group animationDuration="1000ms">
          <mat-tab [label]="'Enrolled Courses (' + user().enrolledCourses?.length + ')'">
            <div class="public-profile__layout__courses__enrolled">
              @for (course of currentPageEnrolledCourses(); track course.id) {
                <app-course-card [course]="course" [courseImage]="fetchCourseImage(course)"></app-course-card>
              }
            </div>
            <mat-paginator
              [length]="user().enrolledCourses?.length"
              [pageSize]="enrolledCoursesPageSize"
              [pageSizeOptions]="[10, 25, 50, 100]"
              (page)="paginateEnrolledCourses($event)"
              showFirstLastButtons="true"></mat-paginator>
          </mat-tab>
          <mat-tab [label]="'Completed Courses (' + user().completedCourses?.length + ')'">
            <div class="public-profile__layout__courses__completed">
              @for (course of currentPageCompletedCourses(); track course.id) {
                <app-course-card [course]="course" [courseImage]="fetchCourseImage(course)"></app-course-card>
              }
            </div>
            <mat-paginator
              [length]="user().completedCourses?.length"
              [pageSize]="completedCoursesPageSize"
              [pageSizeOptions]="[10, 25, 50, 100]"
              (page)="paginateCompletedCourses($event)"
              showFirstLastButtons="true"></mat-paginator>
          </mat-tab>
          @if (isUserTeacher()) {
            <mat-tab [label]="'Created Courses (' + user().createdCourses?.length + ')'">
              <div class="public-profile__layout__courses__created">
                @for (course of currentPageCreatedCourses(); track course.id) {
                  <app-course-card [course]="course" [courseImage]="fetchCourseImage(course)"></app-course-card>
                }
              </div>
              <mat-paginator
                [length]="user().createdCourses?.length"
                [pageSize]="createdCoursesPageSize"
                [pageSizeOptions]="[10, 25, 50, 100]"
                (page)="paginateCreatedCourses($event)"
                showFirstLastButtons="true"></mat-paginator>
            </mat-tab>
          }
        </mat-tab-group>
      </section>
    </mat-card-content>
  </mat-card>
</div>
