<div class="course">
  <div class="course__stepper">
    <mat-stepper animationDuration="500" [linear]="true">
      <!-- <mat-step
        class="course__stepper__course-details"
        label="Create new course"
        [completed]="isCourseCreated()"
        [editable]="false"
      >
        @if (!isCourseCreated()) {
          <app-course-create-edit-form
            [topics]="topics()"
            (createdCourse)="handleCourseCreated($event)"
          ></app-course-create-edit-form>
        } @else {
          <h4>Course was created successfully!</h4>
          <button mat-button matStepperNext>Next</button>
        }
      </mat-step>
      <mat-step
        class="course__stepper__course-photo"
        label="Upload course photo"
        [completed]="isPhotoUploaded()"
        [editable]="isCourseCreated"
      >
        @if (!isPhotoUploaded()) {
          <app-file-upload (fileChange)="handlePhotoUploaded($event)"></app-file-upload>
        } @else {
          <h4>Course photo uploaded successfully!</h4>
          <button mat-button matStepperNext>Next</button>
        }
      </mat-step> -->
      <mat-step
        class="course__stepper__lectures"
        label="Add course lectures"
        [completed]="areLecturesAdded()"
        [editable]="isCourseCreated">
        @if (!areLecturesAdded()) {
          <app-lecture-management
            [courseId]="courseId()"
            (addedLectures)="handleLecturesAdded($event)"></app-lecture-management>
        } @else {
          <h4>Lectures are added successfully!</h4>
          <button mat-button matStepperNext>Next</button>
        }
      </mat-step>
      <mat-step class="course__stepper__preview" label="Preview and publish">
        <h4>Course successfully created in draft mode. Do you want to publish or remove it and all of its content?</h4>
        <button mat-button (click)="publishCourse()">Publish</button>
        <button mat-button (click)="deleteCourseAndContent()">Delete</button>
      </mat-step>
    </mat-stepper>
  </div>
</div>
