<div class="course">
  <div class="course__stepper">
    <mat-stepper animationDuration="500" [linear]="!isEditMode()">
      <mat-step
        class="course__stepper__course-details"
        label="{{ isEditMode() ? 'Edit course' : 'Create new course' }}"
        [completed]="isCourseCreated()"
        [editable]="true">
        @if (!isCourseCreated()) {
          @if (isEditMode() && !createdCourseData()) {
            <div class="loading-container">
              <mat-spinner diameter="50"></mat-spinner>
              <span class="loading-text">Loading course data</span>
            </div>
          } @else {
            <app-course-create-edit-form
              [topics]="topics()"
              [isEditMode]="isEditMode()"
              [courseData]="createdCourseData()"
              (createdCourse)="handleCourseCreated($event)"></app-course-create-edit-form>
          }
        } @else {
          <h4>Course was {{ isEditMode() ? 'updated' : 'created' }} successfully!</h4>
          <button mat-button matStepperNext>Next</button>
        }
      </mat-step>
      <mat-step
        class="course__stepper__course-photo"
        label="Upload course photo"
        [completed]="isPhotoUploaded()"
        [editable]="true">
        @if (!isPhotoUploaded()) {
          <app-file-upload [isEditMode]="isEditMode()" (fileChange)="handlePhotoUploaded($event)"></app-file-upload>
        } @else {
          <h4>Course photo uploaded successfully!</h4>
          <button mat-button matStepperNext>Next</button>
        }
      </mat-step>
      <mat-step
        class="course__stepper__lectures"
        label="Add course lectures"
        [completed]="areLecturesAdded()"
        [editable]="true">
        @if (!areLecturesAdded()) {
          @if (isEditMode() && !courseLecturesData()) {
            <div class="loading-container">
              <mat-spinner diameter="50"></mat-spinner>
              <span class="loading-text">Loading course lectures</span>
            </div>
          } @else {
            <app-lecture-management
              [courseId]="courseId()"
              [isEditMode]="isEditMode()"
              [lecturesData]="courseLecturesData()"
              (addedLectures)="handleLecturesAdded($event)"></app-lecture-management>
          }
        } @else {
          <h4>Lectures are added successfully!</h4>
          <button mat-button matStepperNext>Next</button>
        }
      </mat-step>
      <mat-step class="course__stepper__preview" label="Preview and publish">
        <h4>Course successfully created in draft mode. Do you want to publish or remove it and all of its content?</h4>
        <button mat-button (click)="publishCourse()">Publish</button>
        <button mat-button (click)="deleteCourseAndContent()">Delete</button>
      </mat-step>
    </mat-stepper>
  </div>
</div>
