.lectures {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__main-actions {
    display: flex;
    justify-content: space-between;
  }

  &__panel-header__desc {
    justify-content: flex-end;

    &__delete-btn {
      color: var(--mat-form-field-error-text-color);
    }
  }

  &__panel-content__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
