<div class="lectures" [formGroup]="form">
  <div class="lectures__main-actions">
    <button mat-flat-button (click)="saveLectures()">Save Lectures</button>
    <button mat-raised-button (click)="addLecture()">New Lecture</button>
  </div>
  <mat-accordion>
    <div formArrayName="lectures">
      @for (lectureForm of lectures.controls; let idx = $index; track idx) {
        <mat-expansion-panel [formGroupName]="idx">
          <mat-expansion-panel-header>
            <mat-panel-title>Lecture {{ lectureForm.get('sequenceNumber')?.value }}</mat-panel-title>
            <mat-panel-description class="lectures__panel-header__desc">
              <button
                class="lectures__panel-header__desc__delete-btn"
                mat-icon-button
                (click)="removeLecture($event, idx)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="lectures__panel-content__form">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Title</mat-label>
              <input type="text" matInput formControlName="title" />
              @if (
                lectureForm.controls.title.invalid ||
                (lectureForm.controls.title.touched && lectureForm.controls.title.dirty)
              ) {
                <mat-error>{{ titleErrorMessage(lectureForm.controls.title) }}</mat-error>
              }
            </mat-form-field>
            <div>
              <app-rich-text-editor
                [control]="lectureForm.controls.description"
                [title]="'Description'"></app-rich-text-editor>
            </div>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Video URL</mat-label>
              <input type="text" matInput formControlName="videoUrl" />
              @if (
                lectureForm.controls.videoUrl.invalid ||
                (lectureForm.controls.videoUrl.touched && lectureForm.controls.videoUrl.dirty)
              ) {
                <mat-error>{{ videoUrlErrorMessage(lectureForm.controls.videoUrl) }}</mat-error>
              }
            </mat-form-field>
            <div>
              <app-rich-text-editor
                [control]="lectureForm.controls.assignmentTask"
                [title]="'Assignment Task'"></app-rich-text-editor>
            </div>
          </div>
        </mat-expansion-panel>
      }
    </div>
  </mat-accordion>
</div>
