<div class="course">
  <section class="course__header">
    <div class="course__header__content">
      <h1 class="course__header__content__title">{{ course()?.title }}</h1>
      <p class="course__header__content__short-desc">
        {{ course()?.shortDescription }}
      </p>
      <div class="course__header__content__topic">
        <mat-icon>subject</mat-icon>
        <span>{{ course()?.topicOverviewDto?.title }}</span>
      </div>
      <div class="course__header__content__difficulty">
        <mat-icon>speed</mat-icon>
        <span>{{ formatDifficultyLevel() }}</span>
      </div>
      <div class="course__header__content__rating">
        <app-star-rating
          [rating]="course()?.averageRating ?? 0"
          [totalVotes]="course()?.totalRatings ?? 0"></app-star-rating>
      </div>
      <div class="course__header__content__updated">
        <mat-icon>schedule</mat-icon>
        <span>Last Updated: {{ course()?.modificationDate | date: 'longDate' }}</span>
      </div>
      <div class="course__header__content__created">
        <mat-icon>account_circle</mat-icon>
        <span>Created by: {{ course()?.author?.firstName }} {{ course()?.author?.lastName }}</span>
      </div>
    </div>
  </section>
  <div class="course__body">
    <mat-tab-group animationDuration="1000ms">
      <mat-tab label="Description">
        <div class="course__body__tab-desc">
          <div class="course__body__tab-desc__req">
            <h4 class="course__body__tab-desc__req__title">Requirements</h4>
            <p class="course__body__tab-desc__req__content unset" [innerHTML]="course()?.requirements"></p>
          </div>
          <div class="course__body__tab-desc__desc">
            <h4 class="course__body__tab-desc__desc__title">Description</h4>
            <p class="course__body__tab-desc__desc__content unset" [innerHTML]="course()?.fullDescription"></p>
          </div>
        </div>
      </mat-tab>
      <mat-tab [disabled]="!isUserCourseAuthor() && !isUserEnrolled() && !isUserCompletedCourse()">
        <ng-template mat-tab-label>
          Cirriculum
          <mat-icon
            class="course-tab-icon"
            [style.visibility]="!isUserCourseAuthor && !isUserEnrolled ? 'visible' : 'hidden'"
            >lock</mat-icon
          >
        </ng-template>
        <div class="course__body__lecture course__body__tab-cirriculum">
          <mat-accordion>
            @for (lecture of lectures(); let idx = $index; track lecture.id) {
              <mat-expansion-panel [disabled]="!lectureAccessibility().get(lecture.id!)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ formatLecturePanelTitle(idx, lecture?.title) }}
                    @if (!lectureAccessibility().get(lecture.id!)) {
                      <mat-icon class="lock-icon">lock</mat-icon>
                    }
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="course__body__lecture__body">
                  <div class="course__body__lecture__body__video">
                    <app-youtube-video [videoUrl]="lecture.videoUrl" [title]="lecture.title"></app-youtube-video>
                  </div>
                  <div class="course__body__lecture__body__description">
                    <h6>Description</h6>
                    <p class="unset" [innerHTML]="lecture.description"></p>
                  </div>
                  <div class="course__body__lecture__body__assignment-task">
                    <h6>Assignment Task</h6>
                    <p class="unset" [innerHTML]="lecture.assignmentTask"></p>
                  </div>
                  <div class="course__body__lecture__body__assignment-solution">
                    @if (!isUserCourseAuthor()) {
                      <h6>Assignment Solution</h6>
                    }
                    <div class="file-upload-container">
                      @if (
                        !assignmentSolutions().get(lecture.id!) && !isUserCompletedCourse() && !isUserCourseAuthor()
                      ) {
                        <app-file-upload
                          [allowedFileTypes]="allowedFileTypes"
                          [maxFileSizeMB]="maxFileSizeMB"
                          (fileChange)="onFileUpload(lecture.id!, $event.file)"></app-file-upload>
                      } @else if (isUserCourseAuthor()) {
                      } @else {
                        <div class="submitted-file">
                          <div class="file-desc">
                            <mat-icon>description</mat-icon>
                            <span>{{ getAssignmentSolutionFileName(lecture.id!) }}</span>
                            <button mat-icon-button (click)="downloadAssignmentSolution(lecture.id!)">
                              <mat-icon>download</mat-icon>
                            </button>
                          </div>
                          <div class="file-download"></div>
                          <div class="file-grade">
                            <mat-icon>grade</mat-icon>
                            <span>Grade: {{ getAssignmentSolutionGrade(lecture.id!) }} / 100</span>
                          </div>
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            }
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab [disabled]="!isUserCourseAuthor()">
        <ng-template mat-tab-label> Submissions </ng-template>
        <div class="course__body__lecture course__body__tab-cirriculum">
          <mat-accordion>
            <ng-container *ngFor="let lecture of lectures(); let idx = index">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{ idx + 1 }}. {{ lecture.title }} </mat-panel-title>
                </mat-expansion-panel-header>
                <app-assignment-solution-list
                  [assignmentSolutions]="filteredAssignments(lecture.id!)"
                  [isTeacher]="isUserCourseAuthor()"
                  (gradeUpdated)="onGradeUpdated()"></app-assignment-solution-list>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="course__side-content mat-elevation-z8">
    <div class="course__side-content__header">
      <img [src]="courseImageUrl || '/images/course-default-img.jpeg'" alt="course image" />
    </div>
    <div class="course__side-content__content">
      <h4 class="course__side-content__content__title">Your Success Starts Here</h4>
      <p class="course__side-content__content__description">
        Structured learning through comprehensive video lectures and targeted assignments to validate comprehension.
      </p>
      <h5 class="course__side-content__content__subtitle">What's included</h5>
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>smart_display</mat-icon>
          <div matListItemTitle>{{ course()?.totalLectures }} Video Lectures</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>assignment</mat-icon>
          <div matListItemTitle>{{ course()?.totalAssignments }} Assignments</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>all_inclusive</mat-icon>
          <div matListItemTitle>Lifetime Access</div>
        </mat-list-item>
      </mat-list>
      <h5 class="course__side-content__content__subtitle">Passing score</h5>
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>fact_check</mat-icon>
          <div matListItemTitle>{{ course()?.passingScore + '/100' }}%</div>
        </mat-list-item>
      </mat-list>
      <button [ngClass]="canUserEnroll() ? 'showed' : 'hidden'" type="button" mat-flat-button (click)="onEnroll()">
        Enroll
      </button>
      <span class="current-state" [ngClass]="isUserEnrolled() && !isUserCompletedCourse() ? 'showed' : 'hidden'">
        Continue Learning
      </span>
      <span class="current-state success" [ngClass]="isUserCompletedCourse() ? 'showed' : 'hidden'"> Completed </span>
      <div class="course-owner-actions" [ngClass]="canUserEditDeteleCourse() ? '' : 'hidden'">
        <button class="current-state" type="button" mat-flat-button (click)="onEdit()">Edit</button>
        <button class="current-state" type="button" mat-flat-button (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
