<div class="user-dialog">
  <div class="user-dialog__header">
    <!-- <img [src]="user()?.photo || '/images/user-default-img.webp'" alt="User photo" class="user-dialog__photo" /> -->
    <img [src]="'/images/user-default-img.webp'" alt="User photo" class="user-dialog__photo" />
    <h2 class="user-dialog__name">{{ user()?.firstName }} {{ user()?.lastName }}</h2>
    <p class="user-dialog__email">{{ user()?.email }}</p>
  </div>

  <div class="user-dialog__details" [formGroup]="userAccessForm">
    <mat-form-field appearance="outline" class="user-dialog__field">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">{{ formatRole(role) }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="user-dialog__field">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status">{{ formatStatus(status) }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="user-dialog__actions">
    <button mat-flat-button color="primary" class="user-dialog__save" (click)="save()" [disabled]="!isEditable()">
      Update
    </button>
    <button mat-stroked-button class="user-dialog__cancel" (click)="cancel()">Cancel</button>
  </div>
</div>
