<div class="course">
  <form class="course__form" [formGroup]="courseForm" (ngSubmit)="onCreate()">
    <mat-form-field class="course__form__field" appearance="outline" subscriptSizing="dynamic">
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        formControlName="title"
        (blur)="courseForm.controls.title.markAsTouched(); courseForm.controls.title.updateValueAndValidity()" />
      <mat-hint>{{ courseForm.value.title?.length }} / 50</mat-hint>
      @if (courseForm.controls.title.invalid) {
        <mat-error>{{ titleErrorMsg() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="course__form__field" appearance="outline" subscriptSizing="dynamic">
      <mat-label>Short Description</mat-label>
      <textarea
        type="text"
        rows="5"
        matInput
        formControlName="shortDescription"
        (blur)="
          courseForm.controls.shortDescription.markAsTouched();
          courseForm.controls.shortDescription.updateValueAndValidity()
        "></textarea>
      <mat-hint>{{ courseForm.value.shortDescription?.length }} / 300</mat-hint>
      @if (courseForm.controls.shortDescription.invalid) {
        <mat-error>{{ shortDescriptionErrorMsg() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="course__form__field" appearance="outline" subscriptSizing="dynamic">
      <mat-label>Passing Score</mat-label>
      <input
        type="number"
        matInput
        formControlName="passingScore"
        (blur)="
          courseForm.controls.passingScore.markAsTouched(); courseForm.controls.passingScore.updateValueAndValidity()
        " />
      @if (courseForm.controls.passingScore.invalid) {
        <mat-error>{{ passingScoreErrorMsg() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="course__form__field" appearance="outline" subscriptSizing="dynamic">
      <mat-label>Select topic</mat-label>
      <mat-select
        formControlName="topic"
        (blur)="courseForm.controls.topic.markAsTouched(); courseForm.controls.topic.updateValueAndValidity()">
        @for (topic of topics(); track topic.id) {
          <mat-option value="topic.id">{{ topic.title }}</mat-option>
        }
      </mat-select>
      @if (courseForm.controls.topic.invalid) {
        <mat-error>{{ topicErrorMsg() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="course__form__field" appearance="outline" subscriptSizing="dynamic">
      <mat-label>Select difficulty level</mat-label>
      <mat-select
        formControlName="difficultyLevel"
        (blur)="
          courseForm.controls.difficultyLevel.markAsTouched();
          courseForm.controls.difficultyLevel.updateValueAndValidity()
        ">
        @for (difficultyLevel of difficultyLevels; track difficultyLevel) {
          <mat-option value="difficultyLevel">{{ formatDifficultyLevel(difficultyLevel) }}</mat-option>
        }
      </mat-select>
      @if (courseForm.controls.difficultyLevel.invalid) {
        <mat-error>{{ difficultyLevelErrorMsg() }}</mat-error>
      }
    </mat-form-field>
    <div class="course__form__field__editor">
      <app-rich-text-editor
        [control]="courseForm.controls.fullDescription"
        [title]="'Full Description'"
        [minlength]="300"
        [maxlength]="3000"
        [errorMessages]="{
          required: 'Full description is required.',
          minlength: 'Minimum 300 characters required.',
          maxlength: 'Maximum 3000 characters required.',
        }"></app-rich-text-editor>
    </div>
    <div class="course__form__field__editor">
      <app-rich-text-editor
        [control]="courseForm.controls.requirements"
        [title]="'Requiremenets'"
        [placeholder]="'Write down course requirements here...'"
        [minlength]="50"
        [maxlength]="500"
        [errorMessages]="{
          required: 'Requirements are required.',
          minlength: 'Minimum 50 characters required.',
          maxlength: 'Maximum 500 characters required.',
        }"></app-rich-text-editor>
    </div>
    <button mat-flat-button type="submit">Create Course</button>
  </form>
</div>
