$txt-color-gray: #666;

.course-card {
  transition: transform 0.3s ease-in-out;

  &__actions {
    position: absolute;
    display: flex;
    column-gap: 1rem;
    top: 1rem;
    right: 1rem;
    z-index: 1;

    &__edit-btn {
      color: blue;
      background-color: white;
    }

    &__delete-btn {
      color: red;
      background-color: white;
    }
  }

  &__img {
    object-fit: cover;
    height: 200px;
  }

  &__title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 5px;
  }

  &__description {
    color: $txt-color-gray;
    font-size: 0.8rem;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  &__author {
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }

  &__meta {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    line-height: 1.2;
    margin-bottom: 5px;

    span:not(:last-child)::after {
      content: '●';
      margin: 0 0.4rem;
      font-size: 0.8rem;
      line-height: 1.2;
    }

    button {
      font-size: 0.8rem;
      line-height: 1.2;
    }
  }
}

.course-card:hover {
  transform: scale(1.1);
}
.mat-mdc-card-content {
  padding: 16px;
}
