<mat-card class="course-card">
  <img
    mat-card-image
    class="course-card__img"
    [src]="course?.image || '/images/course-default-img.jpeg'"
    alt="Course Image" />
  <mat-card-content>
    <h3 class="course-card__title">{{ course?.title || '' }}</h3>
    <p class="course-card__description">{{ course?.description || '' }}</p>
    <div class="course-card__author">
      <span>{{ course?.author || '' }}</span>
    </div>
    <div class="course-card__rating">
      @if (course?.rating && course?.totalVotes) {
        <app-star-rating [rating]="course.rating" [totalVotes]="course.totalVotes"></app-star-rating>
      }
    </div>
    <div class="course-card__meta">
      @if (course?.difficultyLevel) {
        <span>{{ course.difficultyLevel.toLowerCase() | titlecase }}</span>
      }
      @if (course?.totalLectures) {
        <span>{{ course.totalLectures }} lectures</span>
      }
    </div>
  </mat-card-content>
</mat-card>
