<mat-card class="course-card" (click)="openCourseDetails()">
  <img
    mat-card-image
    class="course-card__img"
    [src]="courseImageUrl || '/images/course-default-img.jpeg'"
    alt="Course Image" />
  @if (isUserCourseOwner()) {
    <div class="course-card__actions">
      <button mat-mini-fab class="course-card__actions__edit-btn" (click)="editCourse($event)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab class="course-card__actions__delete-btn" (click)="deleteCourse($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  }
  <mat-card-content>
    <h3 class="course-card__title">{{ course().title }}</h3>
    <p class="course-card__description">{{ course().shortDescription }}</p>
    <div class="course-card__author">
      <span>{{ course().author?.firstName }} {{ course().author?.lastName }}</span>
    </div>
    <div class="course-card__rating">
      <app-star-rating
        [rating]="course().averageRating ?? 0"
        [totalVotes]="course().totalRatings ?? 0"
        [editable]="false"></app-star-rating>
    </div>
    <div class="course-card__meta">
      <span>{{ course().difficultyLevel | titlecase }}</span>
      <span>{{ course().topic?.title | titlecase }}</span>
      @if (canRateCourse()) {
        <button mat-button (click)="onRate($event)">Rate</button>
      }
    </div>
  </mat-card-content>
</mat-card>
