<div class="course-layout">
  <img class="course-layout__img" [src]="courseImageUrl || '/images/course-default-img.jpeg'" alt="Course Thumbnail" />
  <div class="course-layout__content">
    <div class="course-layout__content__layout">
      <p class="course-layout__content__layout__subtitle">
        {{ formatStatus(course().status) }} - {{ course().topic?.title }} -
        {{ course().modificationDate | date: 'dd.MM.yyy' }}
      </p>
      <p class="course-layout__content__layout__title">{{ course().title }}</p>
      <p class="course-layout__content__layout__author">
        {{ course().author?.firstName }} {{ course().author?.lastName }}
      </p>
      <div class="course-layout__content__layout__spacer"></div>
      <p class="course-layout__content__layout__difficulty">{{ formatDifficultyLevel(course().difficultyLevel) }}</p>
      <p class="course-layout__content__layout__students">Students: {{ course().totalStudents }}</p>
    </div>
    <div class="course-layout__content__actions">
      <mat-slide-toggle
        [ngModel]="isPublished"
        (ngModelChange)="onStatusChange($event)"
        [disabled]="course().totalLectures! < 3">
        {{ formatStatus(course().status) }}
      </mat-slide-toggle>
      <mat-icon matTooltip="Status cannot be changed if lectures are less than 3!">info</mat-icon>
    </div>
  </div>
</div>
