.course-layout {
  display: flex;
  column-gap: 1rem;
  align-items: center;

  &__img {
    height: 150px;
    max-width: 200px;
    object-fit: cover;
    border-radius: 4px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__layout {
      display: flex;
      flex-direction: column;
      height: 150px;

      &__subtitle,
      &__author,
      &__difficulty,
      &__students {
        font-size: 0.9rem;
        font-weight: 400;
        color: #49454f;
        margin: 0;
      }

      &__title {
        font-size: 1.25rem;
        font-weight: 600;
        color: #1d1b20;
        margin: 0 0 0.2rem 0;
      }

      &__spacer {
        flex-grow: 1;
      }
    }

    &__actions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      min-width: 125px;
      gap: 1rem;

      mat-icon {
        color: #343dff;
      }
    }
  }
}

@media (max-width: 1024px) {
  .course-layout {
    display: flex;
    flex-direction: column;
    &__content__layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__spacer {
        display: none;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;

      &__layout__subtitle,
      &__layout__title {
        text-align: center;
      }

      &__filters {
        position: relative;
      }

      &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
