.dashboard {
  display: grid;
  grid-template-areas:
    'users courses'
    'topics requests';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  padding: 2rem 3rem;
  margin: 0 auto;
  box-sizing: border-box;

  &__topics {
    grid-area: topics;
  }

  &__users {
    grid-area: users;
    &__header {
      button {
        margin-right: 25px;
      }
    }
  }

  &__requests {
    grid-area: requests;
    position: relative;
    &__spinner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
    }
  }

  &__courses {
    grid-area: courses;
  }

  &__topics,
  &__users,
  &__requests,
  &__courses {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
  }

  &__topics__chart,
  &__users__chart,
  &__courses__chart,
  &__requests__chart {
    min-height: 150px;
  }

  &__topics__chart,
  &__requests__chart {
    min-height: 300px;
  }

  &__users__header,
  &__requests__header,
  &__courses__header,
  &__topics__header {
    display: flex;
    justify-content: space-between;
  }

  &__users__chart,
  &__requests__chart,
  &__courses__chart,
  &__topics__chart {
    height: 100%;
    width: 100%;
    flex-grow: 1;
  }

  @media (max-width: 1024px) {
    grid-template-areas:
      'users'
      'courses'
      'topics'
      'requests';
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    &__topics__chart {
      min-height: 350px;
    }

    &__courses__chart,
    &__requests__chart {
      min-height: 200px;
    }

    &__users__chart {
      min-height: 150px;
    }
  }

  @media (max-width: 768px) {
    grid-template-areas:
      'users'
      'courses'
      'topics'
      'requests';
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;

    &__topics,
    &__users,
    &__courses,
    &__requests {
      min-height: 300px;
      width: 100%;
      overflow: scroll;
    }
  }
}

.dashboard__requests__table--loading {
  opacity: 0.6;
  pointer-events: none;
}
