<div class="topic-dialog-layout">
  <h1 class="topic-dialog-layout__title">{{ data ? 'Edit Topic' : 'Create New Topic' }}</h1>
  <form class="topic-dialog-layout__form" [formGroup]="topicForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="topic-dialog-layout__form__title" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" (blur)="markAsTouched('title')" />
      @if (topicForm.get('title')!.invalid) {
        <mat-error>{{ titleErrorMsg() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="topic-dialog-layout__form__description" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <div class="topic-dialog-layout__form__btns">
      <button mat-flat-button type="submit" [disabled]="topicForm.invalid">
        {{ data ? 'Update Topic' : 'Create Topic' }}
      </button>
      <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
