<div class="homepage">
  <section class="homepage-banner">
    <img class="homepage-banner__image" src="/images/banner.jpeg" alt="Virtual Learning Banner" />
    <div class="homepage-banner__content">
      <p class="homepage-banner__quote">
        <span class="typewriter line1">“Anyone who stops learning is old, whether at twenty or eighty.</span><br />
        <span class="typewriter line2">Anyone who keeps learning stays young.</span><br />
        <span class="typewriter line3">The greatest thing in life is to keep your mind young.” - Henry Ford</span>
      </p>
      <button mat-flat-button color="primary" (click)="navigateToCourses()">Explore Courses</button>
    </div>
  </section>

  <section class="featured-courses">
    <h2 class="featured-courses__title">Featured Courses</h2>
    <div class="featured-courses__container">
      <button
        mat-icon-button
        class="featured-courses__container__nav-btn featured-courses__container__nav-btn__left"
        (click)="scroll(-1)"
        [disabled]="currentIndex === 0">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="featured-courses__container__viewport">
        @for (course of courses(); let idx = $index; track course.id) {
          <app-course-card
            [style.transform]="getTransform()"
            class="featured-courses__container__viewport__card"
            [course]="course"
            [courseImage]="fetchCourseImage(course)"
            (click)="navigateToCourseDetails(course.id!)"></app-course-card>
        }
      </div>

      <button
        mat-icon-button
        class="featured-courses__container__nav-btn featured-courses__container__nav-btn__right"
        (click)="scroll(1)"
        [disabled]="currentIndex >= maxIndex()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </section>

  <section class="homepage-teachers">
    <h2 class="homepage-teachers__title">Top Teachers</h2>
    <div class="homepage-teachers__list">
      <div class="homepage-teachers__card" *ngFor="let teacher of teachers()">
        <img
          [src]="fetchUserImage(teacher)"
          [alt]="teacher.firstName + ' ' + teacher.lastName"
          class="homepage-teachers__card__photo" />
        <h3 class="homepage-teachers__card__name">{{ teacher.firstName }} {{ teacher.lastName }}</h3>
        <p class="homepage-teachers__card__bio">{{ teacher.email }}</p>
        <button mat-stroked-button color="primary" (click)="navigateToTeacherProfile(teacher.id)">View Profile</button>
      </div>
    </div>
  </section>
</div>
