<main class="container">
  <div class="login">
    <h1 class="login__title">Sign In</h1>
    <form class="login__content" [formGroup]="loginForm" (submit)="login()">
      <mat-form-field class="login__form-field" appearance="outline">
        <mat-icon matPrefix>email</mat-icon>
        <mat-label>E-Mail</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePasswordVisibility($event)"
          [attr.aria-label]="hide() ? 'Show password' : 'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <a routerLink="/reset-password" class="login__forgot">Forgot your password?</a>
      <button class="login__btn" type="submit" mat-flat-button aria-label="Sign In">Sign In</button>
      @if (errorResponse() !== null) {
        <div class="login__error-msg">{{ errorResponse() }}</div>
      }
      <p class="login__register">Don't have an account yet?<a routerLink="/register"> Register now!</a></p>
    </form>
  </div>
</main>
