<div class="topic-management-layout" [ngClass]="{ 'topic-management-layout--loading': isLoading() }">
  <div class="topic-management-layout__header">
    <h4 class="topic-management-layout__title">Topic Management</h4>
    <div class="topic-management-layout__new"></div>
    <button mat-flat-button type="button" (click)="openCreateDialog()">Add Topic</button>
  </div>
  <div class="topic-management-layout__actions">
    <div class="topic-management-layout__actions__search">
      <mat-form-field
        subscriptSizing="dynamic"
        appearance="outline"
        class="topic-management-layout__actions__search__field">
        <mat-label>Search by title</mat-label>
        <input matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" placeholder="Search by title" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="topic-management-layout__actions__spacer"></div>
    <div class="topic-management-layout__actions__results">{{ totalTopics() }} total results</div>

    <div class="topic-management-layout__actions__sort-btn">
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label class="topic-management-layout__actions__sort-btn__label">
          <mat-icon> sort </mat-icon>
          <span>Sort By</span>
        </mat-label>
        <mat-select (selectionChange)="onSortChange($event)">
          <mat-option value="title:asc"> Title: A-Z </mat-option>
          <mat-option value="title:desc"> Title: Z-A </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  @if (isLoading()) {
    <div class="topic-management-layout__spinner">
      <mat-spinner></mat-spinner>
    </div>
  }
  <div class="topic-management-layout__content">
    <div class="topic-management-layout__content__cards">
      @for (topic of topics(); let idx = $index; track topic.id) {
        <app-topic-card
          [topic]="topic"
          (edit)="openEditDialog(topic)"
          (delete)="deleteTopic(topic.id!)"></app-topic-card>
      }
    </div>
    <mat-paginator
      class="topic-management-layout__content__paginator"
      [length]="totalTopics() || 0"
      [pageIndex]="paginationSortingFiltering().pageNumber"
      [pageSize]="paginationSortingFiltering().pageSize"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
