html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mat-badge-content {
  background: red !important;
}

.mat-mdc-text-field-wrapper {
  background: white !important;
}
