<div class="user-management-layout" [ngClass]="{ 'user-management-layout--loading': isLoading() }">
  @if (isLoading()) {
    <div class="user-management-layout__spinner">
      <mat-spinner></mat-spinner>
    </div>
  }
  <div class="user-management-layout__actions">
    <h4 class="user-management__title">User Management</h4>
    <button mat-flat-button (click)="createAdminDialog()">Create new Admin</button>
  </div>
  <div class="user-management-layout__content">
    <div class="user-management-layout__content__filters mat-elevation-z8" [formGroup]="filterForm">
      <div class="user-management-layout__content__filters__actions">
        <span mat-stroked-button>
          <mat-icon> tune </mat-icon>
          Filters
        </span>
        <button mat-button color="warn" type="button" (click)="resetFilters()">Reset</button>
      </div>
      <mat-form-field class="user-management__filter" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput formControlName="searchTerm" placeholder="Search by Name or Email" />
      </mat-form-field>

      <mat-form-field class="user-management__filter" appearance="outline">
        <mat-label>Filter by Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let role of roles" [value]="role">{{ formatRole(role) }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="user-management__filter" appearance="outline">
        <mat-label>Filter by Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let status of statuses" [value]="status">{{ formatStatus(status) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="user-management-layout__content__table mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource()"
        matSort
        matSortDisableClear
        (matSortChange)="onSortChange($event)"
        class="user-management-layout__content__table">
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
          <td mat-cell *matCellDef="let user">{{ formatRole(user.role) }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let user">{{ formatStatus(user.enabled) }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="user-management-layout__content__table__row"
          (click)="openUserDialog(row)"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">No users were found, please try again later or change your filters.</td>
        </tr>
      </table>
      <mat-paginator
        class="user-management-layout__content__paginator"
        [length]="totalUsers()"
        [pageIndex]="paginationSortingFiltering().pageNumber"
        [pageSize]="paginationSortingFiltering().pageSize"
        [pageSizeOptions]="[5, 10, 25, 50]"
        (page)="onPageChange($event)"></mat-paginator>
    </div>
  </div>
</div>
