<div class="learnings">
  <div class="learnings__header">
    <h4 class="learnings__header__title">My Learnings</h4>
    <p class="learnings__header__description">
      Discover your courses and stay on track with your learning goals. Whether you are revisiting past lessons or
      exploring new opportunities, this is your space to grow and succeed. Continue your journey toward knowledge and
      achievement with every step forward.
    </p>
  </div>
  @if (isLoading()) {
    <div class="learnings__spinner">
      <mat-spinner></mat-spinner>
    </div>
  }
  <div class="learnings__content">
    <div class="learnings__content__courses">
      <mat-tab-group
        animationDuration="1000ms"
        (selectedIndexChange)="handleTabChange($event)"
        [ngClass]="{ 'learnings__content--loading': isLoading() }">
        @if (isUserTeacher()) {
          <mat-tab [label]="'Created Courses (' + this.totalCreatedCourses() + ')'">
            <app-course-filter-bar
              [topics]="topics()"
              [isUserTeacher]="isUserTeacher()"
              [sortOptions]="createdCourseSortOptions"
              (filterChange)="handleCreatedCoursesFiltersChange($event)"
              (sortChange)="sortCreatedCourses($event)"></app-course-filter-bar>
            <div class="learnings__content__courses__created">
              @for (course of createdCourses(); track course.id) {
                <app-course-card
                  [course]="course"
                  [courseImage]="fetchCourseImage(course)"
                  [isUserCourseOwner]="isUserCourseOwner(course)"
                  (delete)="handleDelete(course)"></app-course-card>
              }
            </div>
            <mat-paginator
              [length]="totalCreatedCourses() || 0"
              [pageIndex]="paginationSortingFilteringCreated().pageNumber"
              [pageSize]="paginationSortingFilteringCreated().pageSize"
              [pageSizeOptions]="[1, 25, 50, 100]"
              (page)="paginateCreatedCourses($event)"></mat-paginator>
          </mat-tab>
        }
        <mat-tab [label]="'Enrolled Courses (' + totalEnrolledCourses() + ')'">
          <app-course-filter-bar
            [topics]="topics()"
            [sortOptions]="enrolledCourseSortOptions"
            (filterChange)="handleEnrolledCoursesFiltersChange($event)"
            (sortChange)="sortEnrolledCourses($event)"></app-course-filter-bar>
          <div class="learnings__content__courses__enrolled">
            @for (course of enrolledCourses(); track course.id) {
              <app-course-card [course]="course" [courseImage]="fetchCourseImage(course)"></app-course-card>
            }
          </div>
          <mat-paginator
            [length]="totalEnrolledCourses()"
            [pageIndex]="paginationSortingFilteringEnrolled().pageNumber"
            [pageSize]="paginationSortingFilteringEnrolled().pageSize"
            [pageSizeOptions]="[10, 25, 50, 100]"
            (page)="paginateEnrolledCourses($event)"></mat-paginator>
        </mat-tab>
        <mat-tab [label]="'Completed Courses (' + totalCompletedCourses() + ')'">
          <app-course-filter-bar
            [topics]="topics()"
            [sortOptions]="completedCourseSortOptions"
            (filterChange)="handleCompletedCoursesFiltersChange($event)"
            (sortChange)="sortCompletedCourses($event)"></app-course-filter-bar>
          <div class="learnings__content__courses__completed">
            @for (course of completedCourses(); track course.id) {
              <app-course-card
                [course]="course"
                [courseImage]="fetchCourseImage(course)"
                [canRateCourse]="true"
                (rate)="handleRate(course)"></app-course-card>
            }
          </div>
          <mat-paginator
            [length]="totalCompletedCourses() || 0"
            [pageIndex]="paginationSortingFilteringCompleted().pageNumber"
            [pageSize]="paginationSortingFilteringCompleted().pageSize"
            [pageSizeOptions]="[10, 25, 50, 100]"
            (page)="paginateCompletedCourses($event)"></mat-paginator>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
